<link rel="stylesheet" href="/css/sb-admin-2.min.css">
<div th:fragment="sidebar">
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="#">
            <div class="sidebar-brand-icon rotate-n-15">
                <i class="fas fa-laugh-wink"></i>
            </div>
            <div class="sidebar-brand-text mx-3">Tech iBanking</div>
        </a>
        <hr class="sidebar-divider my-0">
        <li class="nav-item">
            <a class="nav-link" href="/dashboard">
                <i class="fas fa-fw fa-home"></i>
                <span>Dashboard</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transactions/transfer">
                <i class="fas fa-exchange-alt"></i>
                <span>Transfer</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transactions/deposit">
                <i class="fas fa-fw fa-plus"></i>
                <span>Deposit</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transactions/withdraw">
                <i class="fas fa-fw fa-minus"></i>
                <span>Withdraw</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/transactions/transaction-history">
                <i class="fas fa-fw fa-list"></i>
                <span>Transaction History</span>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="/logout">
                <i class="fas fa-fw fa-sign-out-alt"></i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>
